* {
    box-sizing: border-box;
}

.herr-von-muellerhoff-regular {
    font-family: "Herr Von Muellerhoff", cursive;
    font-weight: 400;
    font-style: normal;
}

body {

    background-color: #d7d2cd;
    line-height: 1.6;
}

header {
    padding: 30px;
}

h1 {
    color: #402516;
    font-size: 4rem;
    font-family: "Herr Von Muellerhoff", cursive;
}

;

.nav-links {
    padding: 40px;
    display: flex;
    gap: 20px;
    justify-content: center
}
.nav-links > a {
    padding: 40px;
    
}


h2 {
    font-family: "Dancing Script", cursive;
    font-size: 2rem;
    color: #402516;
}

.section {
    padding: 40px;
    margin: 20px 0;
    border: 1.8px solid #ccc;
    border-radius: 6px;
}

.proyectos-links {
    padding: 40px;
    display: flex;
    gap: 20px;
    justify-content: center
}

p {
    font-family: "Dancing Script", cursive;
    font-size: 1.4rem;
}

em {
    font-family: "Dancing Script", cursive;
    font-size: 1rem;
}

a {
    font-family: "Dancing Script", cursive;
    font-size: 1.4rem;
    text-decoration: none;
    color: #736355;
    
}

footer {
    background-color: #A4A668;
    color: white;
    padding: 40px;
    text-align: center;
}

@media (max-width: 600px) {
/* Estilos para pantallas chicas */
body {
padding: 10px;
}
header {
padding: 15px;
}
.nav-links {
flex-direction: column;
gap: 10px;
}
img {
max-width: 100%;
height: auto;
}
}